* {
    margin: 0;
}

body {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

button {
    border: none;
    border-radius: 0.2em;
    font-size: 1.05rem;
    padding: 4px 7px;
    outline: none;
    cursor: pointer;
}

input {
    caret-color: red;
}

a, link {
    color: inherit;
    text-decoration: none;
}

input, select {
    caret-color: red;
    border: 2px solid #bbbbbb;
    border-radius: 2px;
    padding: 0.3rem;
    padding-right: 1rem;
}