/* FLEX & GRID */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flex.grow {
    flex-grow: 1;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.row {
    flex-direction: row;
}

.flex.col {
    flex-direction: column;
}

.flex.j-start {
    justify-content: flex-start;
}

.flex.j-end {
    justify-content: flex-end;
}

.flex.a-start {
    align-items: flex-start;
}

.flex.a-end {
    align-items: flex-end;
}

.flex.j-center, .grid.j-center {
    justify-content: center;
}

.flex.j-around, .grid.j-around {
    justify-content: space-around;
}

.flex.j-between, .grid.j-between {
    justify-content: space-between;
}

.flex.j-evenly, .grid.j-evenly {
    justify-content: space-evenly;
}

.flex.a-center, .grid.a-center {
    align-items: center;
}

/* FLOAT */

.left {
    float: left;
}

.right {
    float: right;
}

/* TRANSPARENT-INPUT */

.transparent-input {
    background-color: inherit;
    border: none;
    outline: none;
}

/* LOADER */

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #333;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* OTHERS */

.main-layout {
    max-width: 1350px;
    margin: 0 auto;
    /* transition: 0.2s; */
}

.clean-list {
    list-style: none;
}

.bold {
    font-weight: bolder;
}

.muted {
    font-size: 0.7em;
    opacity: 0.5;
}

.display-none {
    display: none;
}

.m-auto {
    margin: auto;
}

.red {
    color: red;
}

.green {
    color: green;
}